<section>
  <div class="container">
    <div class="position-relative">
      <div class="row g-3">
        <div class="col-md-6">
          <div class="position-relative">
            <div class="profile-card" data-aos="fade-right">
              <img src="/assets/gallery/profile-02.jpeg" alt="PROFILE" class="img img-fluid">
            </div>

          </div>
        </div>
        <div class="col-md-6 text-white my-auto" data-aos="fade-up">
          <h3 class="fs-18 fw-semibold mt-3">Hello There Nice To Meet You..!</h3>
          <h2 class="fs-42 primary-color fw-bold"><span class="fs-28">I'm</span> Praveen NS</h2>
          <span class="fs-18 my-2">Senior Front-End Developer</span>
          <p class="mt-3 fs-20 fw-normal">I am a highly motivated and skilled Angular developer with a passion for
            building innovative and engaging
            web applications. I am confident that I have the skills and experience to be a valuable asset to your team.
          </p>
        </div>
      </div>
      <div class="pro-text">
        <img src="/assets/gallery/Ellipse 1.png" data-aos="fade-right" alt="ELLIPSE">
        <div class="text-inner" data-aos="fade-right" data-aos-duration="1500">
          <h4 class="primary-color fs-18 fw-bold">Pro</h4>
          <h4 class="primary-color fs-18 fw-bold">Developer!</h4>
        </div>
        <div class="let-take d-flex" data-aos="fade-right" data-aos-duration="1500">
          <hr class="primary-color fs-24 fw-bolder w-25">
          <h3 class="text-white fs-28 w-25 fw-bold">Let's Take Your Web development to next level!.</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="aboutme my-4">
  <div class="container">
    <div class="card about-card">
      <div class="card-body text-white">
        <div class="text-start"  data-aos="fade-right" data-aos-duration="1500">
          <svg _ngcontent-ng-c1846892879="" style="width: 10%;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 223 236"
            width="32" class="angular-logo">
            <g _ngcontent-ng-c1846892879="" clip-path="url(#a)">
              <path _ngcontent-ng-c1846892879="" fill="url(#b)"
                d="m222.077 39.192-8.019 125.923L137.387 0l84.69 39.192Zm-53.105 162.825-57.933 33.056-57.934-33.056 11.783-28.556h92.301l11.783 28.556ZM111.039 62.675l30.357 73.803H80.681l30.358-73.803ZM7.937 165.115 0 39.192 84.69 0 7.937 165.115Z">
              </path>
              <path _ngcontent-ng-c1846892879="" fill="url(#c)"
                d="m222.077 39.192-8.019 125.923L137.387 0l84.69 39.192Zm-53.105 162.825-57.933 33.056-57.934-33.056 11.783-28.556h92.301l11.783 28.556ZM111.039 62.675l30.357 73.803H80.681l30.358-73.803ZM7.937 165.115 0 39.192 84.69 0 7.937 165.115Z">
              </path>
            </g>
            <defs _ngcontent-ng-c1846892879="">
              <linearGradient _ngcontent-ng-c1846892879="" id="b" x1="49.009" x2="225.829" y1="213.75" y2="129.722"
                gradientUnits="userSpaceOnUse">
                <stop _ngcontent-ng-c1846892879="" stop-color="#E40035"></stop>
                <stop _ngcontent-ng-c1846892879="" offset=".24" stop-color="#F60A48"></stop>
                <stop _ngcontent-ng-c1846892879="" offset=".352" stop-color="#F20755"></stop>
                <stop _ngcontent-ng-c1846892879="" offset=".494" stop-color="#DC087D"></stop>
                <stop _ngcontent-ng-c1846892879="" offset=".745" stop-color="#9717E7"></stop>
                <stop _ngcontent-ng-c1846892879="" offset="1" stop-color="#6C00F5"></stop>
              </linearGradient>
              <linearGradient _ngcontent-ng-c1846892879="" id="c" x1="41.025" x2="156.741" y1="28.344" y2="160.344"
                gradientUnits="userSpaceOnUse">
                <stop _ngcontent-ng-c1846892879="" stop-color="#FF31D9"></stop>
                <stop _ngcontent-ng-c1846892879="" offset="1" stop-color="#FF5BE1" stop-opacity="0"></stop>
              </linearGradient>
              <clipPath _ngcontent-ng-c1846892879="" id="a">
                <path _ngcontent-ng-c1846892879="" fill="#fff" d="M0 0h223v236H0z"></path>
              </clipPath>
            </defs>
          </svg>
        </div>
        <h5 class="text-start"  data-aos="fade-right" data-aos-duration="1500">About Me</h5>
        <p class="lead text-primary">
          "Driving impactful digital experiences, one line of code at a time."
        </p>

        <ul class="about-list">
          <li  data-aos="fade-right" data-aos-duration="1500">
            <span class="icon">💻</span>
            <strong>Frontend Developer (2 Years Experience)</strong> - Skilled in Angular 16, TypeScript, and optimizing web performance.
          </li>

          <li  data-aos="fade-right" data-aos-duration="1500">
            <span class="icon">🚀</span>
            <strong>Project Contributions</strong> - Developed a tourism project for <b>TTDC</b> and customized solutions for Malaysian insurance clients.
          </li>

          <li  data-aos="fade-right" data-aos-duration="1500">
            <span class="icon">📊</span>
            <strong>Data & Analytics</strong> - Integrated <b>Google Analytics & Tag Manager</b> for performance tracking and business insights.
          </li>

          <li  data-aos="fade-right" data-aos-duration="1500">
            <span class="icon">👥</span>
            <strong>Team Building & Mentorship</strong> - Trained new joiners in frontend development and UI best practices.
          </li>

          <li  data-aos="fade-right" data-aos-duration="1500">
            <span class="icon">🎓</span>
            <strong>Education</strong> - Holds a <b>B.Tech in Information Technology</b>, bridging tech solutions with business needs.
          </li>

          <li  data-aos="fade-right" data-aos-duration="1500">
            <span class="icon">🌱</span>
            <strong>Passionate Learner</strong> - Constantly exploring new technologies, solving complex challenges, and driving innovation.
          </li>
        </ul>
<div class="text-center">
  <a href="/assets/gallery/PraveenNSResume.pdf"   download class="btn text-center w-25 w-sm-100 mx-auto btn-primary mt-3">
    📄 Download Resume
  </a>
</div>
      </div>
    </div>
  </div>
</section>
