@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Black.woff'),url('assets/fonts/poppins/Poppins-Black.woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Bold.woff'),url('assets/fonts/poppins/Poppins-Bold.woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-ExtraBold.woff'),url('assets/fonts/poppins/Poppins-ExtraBold.woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-ExtraLight.woff'),url('assets/fonts/poppins/Poppins-ExtraLight.woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-SemiBold.woff'),url('assets/fonts/poppins/Poppins-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Light.woff'),url('assets/fonts/poppins/Poppins-Light.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
